body{
 margin: 0px;
 padding: 0px;
}
.App{
  display: flex;
}
.menuBar{
  width: 15%;
}
.chartPortion{
  width: 85%;
  background-color:#daeaf9ea;
}
.lineandpie{
  display: flex;
  padding-top: 20px;
  gap: 50px;
  padding-left: 50px;
}
.tableandsoc{
  display: flex;
  gap: 60px;
  padding-left: 50px;
}